## Exploración datos PIB

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pathlib
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
root = 'Data PIB 1993.xlsx'

df_pib = pd.read_excel(root)
df_pib.head()

,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Argentina,ARG,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,8.206979,5.836201,-2.845210,5.526690,8.111047,3.850179,...,6.003952,-1.026420,2.405324,-2.512615,2.73116,-2.08033,2.8185,-2.56535,-2.08801,..
1,Belice,BLZ,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,6.275692,0.131231,0.656349,1.416841,3.579933,3.724423,...,1.922035,2.413483,1.302125,3.635360,2.84964,0.0850812,1.8702,2.07895,0.27368,..
2,Bolivia,BOL,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,4.269294,4.667270,4.678273,4.361343,4.954209,5.029352,...,5.204092,5.122276,6.796011,5.460570,4.85719,4.26392,4.19521,4.22362,2.21671,..
3,Brasil,BRA,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,4.665169,5.334552,4.416731,2.207536,3.394846,0.338098,...,3.974425,1.921150,3.004846,0.503956,-3.54576,-3.27592,1.32287,1.31722,1.13659,..
4,Chile,CHL,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,6.588784,5.030198,8.933296,6.802917,7.427890,4.324579,...,6.110919,5.318628,4.045004,1.766740,2.30377,1.71109,1.18857,3.94932,1.05444,..

In [11]:
df_pib.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]', '1996 [YR1996]',
       '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
       '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]'],
      dtype='object')

In [12]:
df_pib = df_pib.drop(['Series Name','Series Code'], axis=1)
df_pib.head()

,Country Name,Country Code,1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Argentina,ARG,8.206979,5.836201,-2.845210,5.526690,8.111047,3.850179,-3.385457,-0.788999,...,6.003952,-1.026420,2.405324,-2.512615,2.73116,-2.08033,2.8185,-2.56535,-2.08801,..
1,Belice,BLZ,6.275692,0.131231,0.656349,1.416841,3.579933,3.724423,8.784632,13.019560,...,1.922035,2.413483,1.302125,3.635360,2.84964,0.0850812,1.8702,2.07895,0.27368,..
2,Bolivia,BOL,4.269294,4.667270,4.678273,4.361343,4.954209,5.029352,0.426890,2.507808,...,5.204092,5.122276,6.796011,5.460570,4.85719,4.26392,4.19521,4.22362,2.21671,..
3,Brasil,BRA,4.665169,5.334552,4.416731,2.207536,3.394846,0.338098,0.467938,4.387949,...,3.974425,1.921150,3.004846,0.503956,-3.54576,-3.27592,1.32287,1.31722,1.13659,..
4,Chile,CHL,6.588784,5.030198,8.933296,6.802917,7.427890,4.324579,-0.412096,5.326938,...,6.110919,5.318628,4.045004,1.766740,2.30377,1.71109,1.18857,3.94932,1.05444,..

In [13]:
df_pib.columns = ['Country Name', 'Country Code', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

In [14]:
df_pib.head()

,Country Name,Country Code,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Argentina,ARG,8.206979,5.836201,-2.845210,5.526690,8.111047,3.850179,-3.385457,-0.788999,...,6.003952,-1.026420,2.405324,-2.512615,2.73116,-2.08033,2.8185,-2.56535,-2.08801,..
1,Belice,BLZ,6.275692,0.131231,0.656349,1.416841,3.579933,3.724423,8.784632,13.019560,...,1.922035,2.413483,1.302125,3.635360,2.84964,0.0850812,1.8702,2.07895,0.27368,..
2,Bolivia,BOL,4.269294,4.667270,4.678273,4.361343,4.954209,5.029352,0.426890,2.507808,...,5.204092,5.122276,6.796011,5.460570,4.85719,4.26392,4.19521,4.22362,2.21671,..
3,Brasil,BRA,4.665169,5.334552,4.416731,2.207536,3.394846,0.338098,0.467938,4.387949,...,3.974425,1.921150,3.004846,0.503956,-3.54576,-3.27592,1.32287,1.31722,1.13659,..
4,Chile,CHL,6.588784,5.030198,8.933296,6.802917,7.427890,4.324579,-0.412096,5.326938,...,6.110919,5.318628,4.045004,1.766740,2.30377,1.71109,1.18857,3.94932,1.05444,..

In [16]:
df_pib.dtypes

Country Name     object
Country Code     object
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015             object
2016             object
2017             object
2018             object
2019             object
2020             object
dtype: object

In [18]:
df_pib['Country Name'] = df_pib['Country Name'].str.upper()
df_pib.head()

,Country Name,Country Code,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ARGENTINA,ARG,8.206979,5.836201,-2.845210,5.526690,8.111047,3.850179,-3.385457,-0.788999,...,6.003952,-1.026420,2.405324,-2.512615,2.73116,-2.08033,2.8185,-2.56535,-2.08801,..
1,BELICE,BLZ,6.275692,0.131231,0.656349,1.416841,3.579933,3.724423,8.784632,13.019560,...,1.922035,2.413483,1.302125,3.635360,2.84964,0.0850812,1.8702,2.07895,0.27368,..
2,BOLIVIA,BOL,4.269294,4.667270,4.678273,4.361343,4.954209,5.029352,0.426890,2.507808,...,5.204092,5.122276,6.796011,5.460570,4.85719,4.26392,4.19521,4.22362,2.21671,..
3,BRASIL,BRA,4.665169,5.334552,4.416731,2.207536,3.394846,0.338098,0.467938,4.387949,...,3.974425,1.921150,3.004846,0.503956,-3.54576,-3.27592,1.32287,1.31722,1.13659,..
4,CHILE,CHL,6.588784,5.030198,8.933296,6.802917,7.427890,4.324579,-0.412096,5.326938,...,6.110919,5.318628,4.045004,1.766740,2.30377,1.71109,1.18857,3.94932,1.05444,..