## **Exploración de los datos**

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pathlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def clean_data_country(root):
    "Nos devuelve el fichero de cada país limpio"
    
    df_country = pd.read_excel(root, header=1)
    df_country = df_country.drop([0], axis=0)
    df_country.rename(columns={'Unnamed: 1':'industry',
                        'Elemento': 'country'}, inplace=True)
    country_name = df_country['country'][1]
    df_country['country'] = df_country['country'].replace(np.nan, country_name)
   
  
    return df_country

In [4]:
latam_investment = pd.DataFrame()

In [7]:
directory = 'Inversion España en LATAM/'

directory_latam = pathlib.Path(directory)

for file in directory_latam.iterdir():
    country = clean_data_country(file)
    latam_investment = pd.concat([latam_investment, country])

WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (24512) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)
WARNING *** file size (32704) not 512 + multiple of sector size (512)

In [8]:
latam_investment.head()

,country,industry,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,REPUBLICA DOMINICANA,"01 AGRICULTURA, GANADERÍA, CAZA Y SERV. RELACI...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,REPUBLICA DOMINICANA,02 SILVICULTURA Y EXPLOTACIÓN FORESTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,REPUBLICA DOMINICANA,03 PESCA Y ACUICULTURA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,REPUBLICA DOMINICANA,"05 EXTRACCIÓN DE ANTRACITA, HULLA Y LIGNITO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,REPUBLICA DOMINICANA,06 EXTRACCIÓN DE CRUDO DE PETRÓLEO Y GAS NATURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
latam_investment.tail()

,country,industry,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
84,PANAMA,"95 REPARACIÓN ORDENADORES, EFECTOS PERSONALES",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,PANAMA,96 OTROS SERVICIOS PERSONALES,NaN,NaN,NaN,NaN,NaN,NaN,6.01,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,4100,NaN,NaN
86,PANAMA,97 ACTIVIDADES DE LOS HOGARES COMO EMPLEADORES,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,PANAMA,98 ACTIV. HOGARES COMO PRODUC. BIENES Y SERV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,PANAMA,99 ACTIV. ORGANIZACIONES Y ORGANISMOS EXTRATER...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
latam_investment.dtypes

country     object
industry    object
1993        object
1994        object
1995        object
1996        object
1997        object
1998        object
1999        object
2000        object
2001        object
2002        object
2003        object
2004        object
2005        object
2006        object
2007        object
2008        object
2009        object
2010        object
2011        object
2012        object
2013        object
2014        object
2015        object
2016        object
2017        object
2018        object
2019        object
2020        object
dtype: object

In [14]:
print('Tamaño del DF:', latam_investment.shape)
print('Número de valores nulos en cada columna:',latam_investment.isnull().sum())

Tamaño del DF: (2113, 30)
Número de valores nulos en cada columna: country        0
industry       0
1993        1923
1994        1924
1995        1885
1996        1879
1997        1848
1998        1844
1999        1790
2000        1801
2001        1779
2002        1763
2003        1769
2004        1805
2005        1805
2006        1843
2007        1783
2008        1788
2009        1788
2010        1780
2011        1781
2012        1776
2013        1781
2014        1766
2015        1752
2016        1728
2017        1712
2018        1727
2019        1827
2020        1901
dtype: int64

In [17]:
latam_investment_2 = latam_investment.melt(['industry','country'])
latam_investment_2.head()

,industry,country,variable,value
0,"01 AGRICULTURA, GANADERÍA, CAZA Y SERV. RELACI...",REPUBLICA DOMINICANA,1993,NaN
1,02 SILVICULTURA Y EXPLOTACIÓN FORESTAL,REPUBLICA DOMINICANA,1993,NaN
2,03 PESCA Y ACUICULTURA,REPUBLICA DOMINICANA,1993,NaN
3,"05 EXTRACCIÓN DE ANTRACITA, HULLA Y LIGNITO",REPUBLICA DOMINICANA,1993,NaN
4,06 EXTRACCIÓN DE CRUDO DE PETRÓLEO Y GAS NATURAL,REPUBLICA DOMINICANA,1993,NaN

In [19]:
latam_investment_2 = latam_investment_2[['variable','value','country', 'industry']]
latam_investment_2.head()

,variable,value,country,industry
0,1993,NaN,REPUBLICA DOMINICANA,"01 AGRICULTURA, GANADERÍA, CAZA Y SERV. RELACI..."
1,1993,NaN,REPUBLICA DOMINICANA,02 SILVICULTURA Y EXPLOTACIÓN FORESTAL
2,1993,NaN,REPUBLICA DOMINICANA,03 PESCA Y ACUICULTURA
3,1993,NaN,REPUBLICA DOMINICANA,"05 EXTRACCIÓN DE ANTRACITA, HULLA Y LIGNITO"
4,1993,NaN,REPUBLICA DOMINICANA,06 EXTRACCIÓN DE CRUDO DE PETRÓLEO Y GAS NATURAL

In [20]:
latam_investment_2.rename(columns={'variable':'year',
                        'value': 'investment'}, inplace=True)
latam_investment_2.head()

,year,investment,country,industry
0,1993,NaN,REPUBLICA DOMINICANA,"01 AGRICULTURA, GANADERÍA, CAZA Y SERV. RELACI..."
1,1993,NaN,REPUBLICA DOMINICANA,02 SILVICULTURA Y EXPLOTACIÓN FORESTAL
2,1993,NaN,REPUBLICA DOMINICANA,03 PESCA Y ACUICULTURA
3,1993,NaN,REPUBLICA DOMINICANA,"05 EXTRACCIÓN DE ANTRACITA, HULLA Y LIGNITO"
4,1993,NaN,REPUBLICA DOMINICANA,06 EXTRACCIÓN DE CRUDO DE PETRÓLEO Y GAS NATURAL

In [26]:
investment_year_country = latam_investment_2.groupby('year')['country','investment'].sum().reset_index()
investment_year_country.head()

   year                                            country  investment
0  1993  REPUBLICA DOMINICANAREPUBLICA DOMINICANAREPUBL...   262991.61
1  1994  REPUBLICA DOMINICANAREPUBLICA DOMINICANAREPUBL...   687378.78
2  1995  REPUBLICA DOMINICANAREPUBLICA DOMINICANAREPUBL...   331072.18
3  1996  REPUBLICA DOMINICANAREPUBLICA DOMINICANAREPUBL...  1267794.81
4  1997  REPUBLICA DOMINICANAREPUBLICA DOMINICANAREPUBL...  2681292.43

In [38]:
plt.figure(figsize=(100,35))
sns.barplot(data=investment_year_country, x='year', y='investment', hue='country')
plt.title('Evolucion de la inversión total por paises')

Text(0.5, 1.0, 'Evolucion de la inversión total por paises')

ValueError: Image size of 113108x1963 pixels is too large. It must be less than 2^16 in each direction.